@charset utf-8;
.new{
	color: red;
    font-size: 0.7em;
    margin-left: 5%;
    text-transform: uppercase;
}
.show-panel {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    height: 50px;
    position: fixed;
    top: 165px;
    width: 50px;
    z-index: 9999;
}
.show-panel i
{
	color: #000;
    font-size: 24px;
    line-height: 22px;
    padding: 25%;
}
.panel-head
{
	font-size: 14px;
    font-weight: 500;
    height: 46px !important;
    margin: 0 !important;
    padding-left: 16px;
    padding-top: 20px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
} 
.panel
{
	display:none;
	left:0;
	position:fixed;
	top:215px;
	z-index:100;
	color:#FFF;
	border: medium none;
	border-radius: 0;
	box-shadow:none;
	margin:0;
}
.panel h3 {
    color: #FFF;
	padding:5px;
    font-weight:300;
}
.panel-container {
    background: none repeat scroll 0 0 #27294d;
    float: left;
    font-size: 13px;
    width: 100%;
}
.color-switch {
    padding-bottom: 15px;
    padding-right: 15px;
}
.color-switch li {
    height: 25px;
    margin: 10px 0 0 16px;
	
}
.color-switch li a {
    color: #fff;
    display: block;
    float: left;
    font-weight: 300;
    height: 100%;
    position: relative;
    text-transform: capitalize;
    width: 100%;
    z-index: 10;
}
.links {
    display: block;
    padding: 4px 0 6px;
    width: 220px;
	font-weight: 400;
}
.tube{
	border:none;
	font-weight: 400;
}
.html5{
	border:none;
	display: block;
    padding: 4px 0 6px;
    width: 180px;
}
.color-switch li .active
{
	color: #a48c3f;
}
.color-switch li .active2
{
	color: #ff1d8d;
}

.first{
	background: #000;
}
.last{
	background: #000;
}